<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive custom-color-blue">
        <h1 class="title">Contact Us</h1>
        <button class="button button-clear button-primary" ng-click="modal_about.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
            <strong style="color:#2690ad;">Thank you for trying beanbag.</strong>
            <br /><br />
            We invite you to create or join a beanbag<br />
            Peruse the categories quickly and find a beanbag that suits you.<br />
            <br />
            <hr>
            <br />
            If you're having problems with the app, or for any other reason, give us a holla.
            <br />
            <a href="mailto:theteam@beanbagapp.com">theteam@beanbagapp.com</a> 
        </div>
        <div>
          <h4 style="color:#6daa79">Gravatar</h4>
          To add an image to your profile, create an account using your email:
           <a href="https://en.gravatar.com/">www.en.gravatar.com</a>
       </div>
       <br />
       <div>
        <h4 style="color:#6daa79">Institutional Client</h4>
        click here if you're an <a href="#" ng-click="openModal('institution_signup')">Institutional Client</a>
       </div>
    </ion-content>
</ion-modal-view>