<ion-view view-title="{{user.question.amount}} of 500">
    <ion-header-bar class="bar bar-header bar-positive custom-color-blue">
        <h1 class="title">beanbag description</h1>
        <button class="button button-clear button-primary" ng-click="modal1.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <div class="avatar"><img width="50" ng-src="{{avatar}}"><br />
            {{desc}}
            </div>
        
        </div>
        
    </ion-content>
</ion-view>