<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive custom-color-blue">
        <h1 class="title">Invite members</h1>
    </ion-header-bar>
    <ion-content class="padding">
           <ul ng-repeat="select in selectedItems" class="contactList custom-color-blue-send">
             <li>{{select.name}}</li>
           </ul>  
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search contact by name" ng-model="contact">
            </label>
            <button ng-click="searchContactByName(contact)" class="button button-full button-positive custom-color-blue-send">
                    find
                </button>
        </div>
        <ion-item ng-repeat="contact in contacts" type="item-text-wrap" ng-show="contact.name.formatted">
            <ul class="list">

                <li class="item item-toggle">
                    <h2>{{contact.name.formatted}}</h2>
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" ng-model="isChecked" ng-click="inviteList(contact.name.formatted, contact.emails, contact.id, isChecked)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                </li>
            </ul>
        </ion-item>
    </ion-content>
    <ion-footer-bar ui-view="footer">
    <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
    <button class="button button-positive custom-color-blue-send" ng-click="invite()">
        Invite
    </button>
</ion-footer-bar>
</ion-modal-view>
